#env file
.env

# macOS system file
.DS_Store

# Python virtual environment
.venv/
__pycache__/
*.py[cod]

# py2app build artifacts
build/
dist/
*.app

# macOS metadata
.DS_Store

# Egg info
*.egg-info/

# IDEs and editors
.vscode/
.idea/